@charset "UTF-8";
/*html*/
html {
  overflow-y: scroll;
}

/*body*/
body {
  font-size: 12px;
  line-height: 1.4;
  font-family: "メイリオ","MS PGothic", "Kozuka Gothic Pro", "MS Gothic", "MS PMincho", "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Arial, Osaka, Sans-Serif;
  background: #f5f9fc;
  overflow-x: hidden;
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px auto;
  max-width: 960px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 0%;
}

.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
  /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
  width: 100%;
  background: blue;
}

.span_2_of_3 {
  width: 66.1%;
  background: yellow;
}

.span_1_of_3 {
  width: 32.2%;
  background: red;
}

.col-main {
  width: 75%;
}

.col-side {
  width: 20.83%;
  margin-left: 4.16%;
}

/*Header*/
.header {
  background: #dfedf7;
  border-bottom: 5px solid #dddddd;
}
.header .section {
  position: relative;
}
.header .logo {
  display: inline-block;
  padding: 30px 0;
}
.header .contact {
  position: absolute;
  right: 4px;
  top: 18px;
}
.header .tel {
  width: 216px;
  float: left;
  padding-top: 17px;
  margin-right: 15px;
}
.header .tel .com1 {
  color: #276797;
  font-size: 100%;
}
.header .tel .com2 {
  color: #276797;
  font-size: 150%;
  background: url(../images/icon_tel.png) no-repeat 0 3px;
  padding-left: 35px;
  font-weight: bold;
}
.header .tel .com3 {
  color: #276797;
  font-size: 100%;
  font-weight: bold;
}
.header .login {
  float: left;
  width: 90px;
}
.header .login .btn-login {
  position: relative;
  background-color: #bdbdbd;
  box-shadow: 2px 4px 0px #9d9d9d;
  padding: 8px 21px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px #969696;
}
.header .login .btn-login a {
  text-decoration: none;
  color: #fff;
}
.header .login .btn-login:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 2px solid #9d9d9d;
  border-top: 4px solid transparent;
  position: absolute;
  right: -2px;
  top: 0px;
}
.header .login .btn-login:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 4px solid #9d9d9d;
  border-left: 2px solid transparent;
  position: absolute;
  left: 0px;
  bottom: -4px;
}
.header .login .btn-login:hover:before, .header .login .btn-login:hover:after {
  border: 0;
}
.header .login .btn-login:hover {
  box-shadow: none;
  margin-top: 4px;
  margin-right: -2px;
}

/*Navi*/
.nav {
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.nav ul li {
  width: 30%;
  max-width: 185px;
  margin-right: -4px;
  text-align: center;
  display: inline-block;
  border-left: 1px solid #dddddd;
}
.nav ul li:last-child {
  border-right: 1px solid #ddd;
}
.nav ul li a {
  display: block;
  padding: 12px 0 8px 0;
  font-size: 117%;
  font-weight: bold;
  color: #226699;
  text-decoration: none;
  border-bottom: 4px solid #fff;
}
.nav ul li a:hover, .nav ul li a.active {
  border-bottom: 4px solid #226699;
}
.nav .section {
  position: relative;
}

.rmm-button:hover {
  cursor: pointer;
}

.rmm .rmm-toggled ul {
  display: none;
  margin: 0px !important;
  padding: 0px !important;
}

.rmm .rmm-toggled ul li {
  display: block;
  margin: 0 auto !important;
}

.rmm .rmm-toggled {
  width: 100%;
  min-height: 36px;
}

.rmm .rmm-toggled-controls {
  display: block;
  height: 36px;
  color: #fff;
  text-align: left;
  position: relative;
  background: #226699;
}

.rmm .rmm-toggled-title {
  position: relative;
  top: 9px;
  left: 9px;
  font-size: 16px;
}

.rmm .rmm-button {
  display: block;
  position: absolute;
  right: 5px;
  top: 7px;
}

.rmm .rmm-button span {
  display: block;
  margin: 4px 0px 4px 0px;
  height: 2px;
  background: #fff;
  width: 25px;
}

.support {
  display: inline-block;
  position: absolute;
  right: 4px;
  top: 3px;
}
.support .btn-support {
  position: relative;
  color: #fff;
  background-color: #266797;
  box-shadow: 3px 4px 0px #1d5179;
}
.support .btn-support a {
  display: block;
  border: 1px solid #fff;
  padding: 5px 20px 5px 45px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 125%;
  background: url(../images/icon_support.png) no-repeat 20px 8px;
}
.support .btn-support:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 3px solid #1d5179;
  border-top: 2px solid transparent;
  position: absolute;
  right: -3px;
  top: 2px;
}
.support .btn-support:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 4px solid #1d5179;
  border-left: 3px solid transparent;
  position: absolute;
  left: 0px;
  bottom: -4px;
}
.support .btn-support:hover:before, .support .btn-support:hover:after {
  border: 0;
}
.support .btn-support:hover {
  box-shadow: none;
  margin-right: -3px;
  margin-top: 4px;
  margin-left: 3px;
}

.breadcrumb ul {
  padding-top: 24px;
}
.breadcrumb ul li {
  font-size: 92%;
  color: #8b8b8b;
  display: inline-block;
  background: url(../images/icon_breadcrumb.png) no-repeat 0 3px;
  padding-left: 20px;
  padding-right: 20px;
}
.breadcrumb ul li a {
  color: #191919;
  font-size: 92%;
  text-decoration: none;
}
.breadcrumb ul li a:hover {
  text-decoration: underline;
}
.breadcrumb ul li:first-child {
  background: none;
  padding-left: 0;
}
.breadcrumb ul li:first-child a {
  color: #1477c0;
}

/*Footer*/
.footer {
  margin-top: 30px;
  background: #1e5d90;
  padding: 15px;
}
.footer .section {
  position: relative;
}
.footer ul {
  display: inline-block;
  text-align: left;
}
.footer ul li {
  display: inline-block;
}
.footer ul li a {
  padding-right: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 92%;
  font-weight: bold;
}
.footer ul li a:hover {
  text-decoration: underline;
}
.footer .copyright {
  color: #fff;
  font-size: 92%;
  display: inline-block;
  float: right;
}

.pagetop {
  position: absolute;
  background: url(../images/img_pagetop.png) no-repeat 0 0;
  top: -30px;
  right: 0;
  width: 70px;
  height: 10px;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 640px) {
  .col {
    margin: 1% 0 1% 0%;
  }

  .footer {
    margin-top: 0;
  }
}
@media only screen and (max-width: 640px) {
  .span_3_of_3 {
    width: 100%;
  }

  .span_2_of_3 {
    width: 100%;
  }

  .span_1_of_3 {
    width: 100%;
  }

  .col-main {
    width: 100%;
  }

  .col-side {
    width: 100%;
  }

  .footer ul {
    display: block;
    text-align: center;
  }
  .footer .copyright {
    display: block;
    text-align: center;
    float: inherit;
  }
}
@media screen and (max-width: 700px) {
  .logo {
    display: block !important;
    position: relative;
    text-align: center;
  }

  .contact {
    display: table;
    margin: 0 auto;
    position: relative !important;
    text-align: center;
    height: 120px;
  }

  .header .tel {
    display: table-cell;
    text-align: left;
  }
  .header .login {
    width: 94px;
    display: table-cell;
    height: 83px;
  }
  .header .login:hover {
    box-shadow: none;
    margin-right: -2px;
    margin-left: 2px;
    margin-top: 4px;
  }
  .header .logo {
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 650px) {
  .nav {
    border-bottom: 0 !important;
  }
  .nav .nav-wrapper {
    border-bottom: 1px solid #ddd;
  }

  .support {
    position: relative;
    display: block;
    overflow: hidden;
    max-width: 225px;
    text-align: center;
    margin: 0 auto 5px auto;
    height: 40px;
  }
  .support .btn-support {
    width: 97%;
  }
}
@media only screen and (max-width: 455px) {
  .nav li {
    width: 100% !important;
    max-width: inherit !important;
    border-bottom: 1px solid #ddd;
  }
}
@media only screen and (max-width: 420px) {
  .logo {
    text-align: center;
  }
  .logo img {
    max-width: 100%;
  }

  .two-col {
    width: 100% !important;
  }
}
@media only screen and (max-width: 341px) {
  .header {
    height: 280px;
  }
  .header .tel {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -108px;
  }
  .header .login {
    position: absolute;
    top: 87px;
    left: 50%;
    margin-left: -40px;
  }
  .header .login:hover {
    margin-left: -38px;
  }
}
.search-box {
  background: #266797;
  padding: 20px 15px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 35px;
}
.search-box .search-form {
  height: 40px;
  overflow: hidden;
}
.search-box .search-text {
  width: 79%;
  box-sizing: border-box;
  font-size: 117%;
  border-width: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 10px 10px 40px;
  background: white url(../images/icon_search.png) no-repeat 10px 5px;
  float: left;
  margin-right: 2.5%;
}
.search-box input[type="text"] {
  width: 75%;
  padding: 9px 0 9px 1em;
  color: #333;
  outline: none;
  background: #fff;
}
.search-box .btn-search {
  cursor: pointer;
  float: left;
  width: 18%;
  box-sizing: border-box;
  border: 0;
  position: relative;
  background: #378cd2 url(../images/icon_list_yellow.png) no-repeat 90% 10px;
  background-size: 5px 10px;
  box-shadow: 3px 4px 0px #1d5179;
  padding: 8px 21px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 2px #969696;
}
.search-box .btn-search:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 2px solid #1d5179;
  border-top: 4px solid transparent;
  position: absolute;
  right: -2px;
  top: 0px;
}
.search-box .btn-search:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 4px solid #1d5179;
  border-left: 3px solid transparent;
  position: absolute;
  left: 0px;
  bottom: -4px;
}
.search-box .btn-search:hover:before, .search-box .btn-search:hover:after {
  border: 0;
}
.search-box .btn-search:hover {
  box-shadow: none;
  margin-top: 4px;
  margin-left: 2px;
}
.search-box .search-tag {
  background: #f8f8f8;
  padding: 15px 10px;
  margin-top: 15px;
  border-bottom: 3px solid #378cd2;
}
.search-box .search-tag a {
  color: inherit;
  text-decoration: none;
}
.search-box .search-tag a:hover {
  text-decoration: underline;
}
.search-box .search-tag span {
  font-size: 125%;
  color: #333;
  padding: 0px 2px;
  border: 1px solid #dddddd;
  background: #fff;
  display: inline-block;
  margin: 4px 0;
}
.search-box .search-tag span:hover {
  border: 1px solid #266797;
}

.block {
  border: 1px solid #dddddd;
}
.block.no-brb {
  border-bottom: 0;
}
.block h2 {
  background: #226699;
  color: #fff;
  font-size: 233%;
  font-weight: bold;
  padding: 10px 15px;
  display: block;
  overflow: hidden;
}
.block h2 .more {
  margin-top: -5px;
  float: right;
  display: inline-block;
  min-width: 83px;
}
.block h2 .more a {
  text-decoration: none;
}
.block h2 .more .btn-more {
  background: #378cd2;
  cursor: pointer;
  box-sizing: border-box;
  border: 0;
  position: relative;
  box-shadow: 3px 4px 0px #1d5179;
  padding: 5px 10px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 2px #969696;
  font-size: 42%;
}
.block h2 .more .btn-more:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 2px solid #1d5179;
  border-top: 4px solid transparent;
  position: absolute;
  right: -2px;
  top: 0px;
}
.block h2 .more .btn-more:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 4px solid #1d5179;
  border-left: 3px solid transparent;
  position: absolute;
  left: 0px;
  bottom: -4px;
}
.block h2 .more .btn-more:hover:before, .block h2 .more .btn-more:hover:after {
  border: 0;
}
.block h2 .more .btn-more:hover {
  box-shadow: none;
  right: -2px;
  top: 2px;
}
.block h2 .head-date {
  color: #fecf55;
  font-size: 46%;
  font-weight: bold;
  padding-right: 20px;
  display: inline-block;
  float: right;
  padding-top: 10px;
}
.block .content {
  background: #fff;
  padding: 8px;
  border-bottom: 4px solid #2a6a99;
}
.block .content.no-bb {
  border-bottom: 0;
}
.block .content .img-reponsive {
  max-width: 100%;
}
.block .FAQ-list .two-col {
  width: 50%;
  float: left;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
  margin: 10px 0;
}
.block .FAQ-list .two-col .title {
  background: #eff5fb;
  border: 1px solid #ddd;
  padding: 10px;
  color: #216699;
  font-size: 117%;
  font-weight: bold;
}
.block .FAQ-list .two-col .desc {
  background: #f8f8f8;
  border-bottom: 4px solid #eeeeee;
  position: relative;
}
.block .FAQ-list .two-col ul.list {
  padding: 10px 10px 35px 10px;
}
.block .FAQ-list .two-col ul.list li {
  background: url(../images/icon_list.png) no-repeat 0 3px;
  background-size: 5px 10px;
  padding-left: 15px;
  line-height: 18px;
}
.block .FAQ-list .two-col ul.list li a {
  color: #383838;
  font-size: 14px;
  text-decoration: none;
}
.block .FAQ-list .two-col ul.list li a:hover {
  text-decoration: underline;
}
.block .FAQ-list .two-col .more {
  text-align: right;
  background: url(../images/icon_list.png) no-repeat right 8px;
  background-size: 5px 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-right: 10px;
  border-top: 1px dotted #ddd;
  position: absolute;
  display: block;
  width: 92%;
  bottom: 5px;
  padding-top: 5px;
}
.block .FAQ-list .two-col .more a {
  color: #696969;
  font-size: 100%;
  text-decoration: none;
}
.block .FAQ-list .two-col .more a:hover {
  text-decoration: underline;
}

.thread-footer {
  border-top: 1px dotted #ddd;
  font-size: 117%;
  margin-top: 20px;
}
.thread-footer dl {
  padding-top: 10px;
}
.thread-footer dl dt {
  width: 15%;
  min-width: 100px;
  float: left;
  padding: 3px 0;
}
.thread-footer dl dd {
  width: 85%;
  padding: 3px 10px 3px 15%;
}
.thread-footer dl dd.category a {
  color: #1477c0;
  text-decoration: none;
  padding-right: 10px;
}
.thread-footer dl dd.category a:hover {
  text-decoration: underline;
}
.thread-footer dl dd.tag a {
  text-decoration: none;
}
.thread-footer dl dd.tag .yellow {
  color: #ff9c38;
  font-weight: bold;
  background: #ffe8d0;
  padding: 0px 4px;
  margin-right: 5px;
  display: inline-block;
}
.thread-footer dl dd.tag .blue {
  color: #226699;
  font-weight: bold;
  background: #dfedf7;
  padding: 0px 4px;
  margin-right: 5px;
  display: inline-block;
}
.thread-footer dl dd.tag .purple {
  color: #b26bc2;
  font-weight: bold;
  background: #f5defa;
  padding: 0px 4px;
  margin-right: 5px;
  display: inline-block;
}
.thread-footer dl dd.view {
  color: #6f6f6f;
  font-weight: bold;
}

.thread-helpful {
  background: #eff5fb;
  border: 1px solid #ddd;
  padding: 10px;
}

.thread-contact {
  background: #ffefdf;
  border: 1px solid #ddd;
  padding: 10px 6px;
}

.thread-btn-red {
  background: #e45444;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  box-shadow: 3px 4px 0px #ba2f21;
  font-weight: bold;
  text-align: center;
  color: #fff;
  font-size: 100%;
  margin-right: 10px;
  display: inline-block;
}
.thread-btn-red:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 2px solid #ba2f21;
  border-top: 4px solid transparent;
  position: absolute;
  right: -2px;
  top: 0px;
}
.thread-btn-red:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 4px solid #ba2f21;
  border-left: 3px solid transparent;
  position: absolute;
  left: 0px;
  bottom: -4px;
}
.thread-btn-red:hover:before, .thread-btn-red:hover:after {
  border: 0;
}
.thread-btn-red:hover {
  box-shadow: none;
  right: -2px;
  top: 2px;
  bottom: -2px;
}
.thread-btn-red a {
  display: inline-block;
  border: 1px solid #fff;
  padding: 2px 7px;
  color: #fff;
  text-decoration: none;
}

.thread-btn-blue {
  background: #266797;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  box-shadow: 3px 4px 0px #1d5179;
  font-weight: bold;
  text-align: center;
  color: #fff;
  font-size: 100%;
  margin-right: 10px;
  display: inline-block;
}
.thread-btn-blue:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 2px solid #1d5179;
  border-top: 4px solid transparent;
  position: absolute;
  right: -2px;
  top: 0px;
}
.thread-btn-blue:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 4px solid #1d5179;
  border-left: 3px solid transparent;
  position: absolute;
  left: 0px;
  bottom: -4px;
}
.thread-btn-blue:hover:before, .thread-btn-blue:hover:after {
  border: 0;
}
.thread-btn-blue:hover {
  box-shadow: none;
  right: -2px;
  top: 2px;
  bottom: -2px;
}
.thread-btn-blue a {
  display: inline-block;
  border: 1px solid #fff;
  padding: 2px 7px;
  color: #fff;
  text-decoration: none;
}

.related-page {
  margin-top: 30px;
  border: 1px solid #ddd;
}
.related-page h2 {
  background: #dfedf7;
  color: #266797;
  font-size: 233%;
  font-weight: bold;
  padding: 7px 15px;
  display: block;
  overflow: hidden;
}
.related-page .content {
  background: #fff;
  border-bottom: 4px solid #2a6a99;
}
.related-page ul {
  padding: 0 15px;
}
.related-page ul li {
  padding: 15px 0;
  border-bottom: 1px dotted #ddd;
}
.related-page ul li a {
  color: #1477c0;
  font-size: 134%;
  display: block;
  font-weight: bold;
  text-decoration: none;
}
.related-page ul li a:hover {
  text-decoration: underline;
}
.related-page ul li .desc {
  color: #666;
  font-size: 68%;
  display: block;
}

.FAQ-step ul {
  padding: 0 10px;
}
.FAQ-step ul li {
  border-bottom: 1px dotted #ddd;
  display: block;
  background: url(../images/icon_list.png) no-repeat 0 15px;
  background-size: 5px 10px;
  padding-left: 20px;
}
.FAQ-step ul li a {
  color: #1477c0;
  font-size: 134%;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 0;
  display: block;
}
.FAQ-step ul li a:hover {
  text-decoration: underline;
}

.FAQ-browse ul {
  padding: 0 10px;
}
.FAQ-browse ul li {
  border-bottom: 1px dotted #ddd;
  display: block;
  display: block;
  overflow: hidden;
  padding: 5px 0;
}
.FAQ-browse ul li .first-col {
  width: 12%;
  float: left;
  background: #ececec;
  color: #191919;
  font-weight: bold;
  text-align: center;
}
.FAQ-browse ul li .first-col .number {
  color: #e45444;
  font-size: 150%;
  font-weight: bold;
  display: block;
}
.FAQ-browse ul li .second-col {
  width: 50%;
  float: left;
}
.FAQ-browse ul li .second-col a {
  color: #1477c0;
  font-size: 109%;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}
.FAQ-browse ul li .second-col a:hover {
  text-decoration: underline;
}
.FAQ-browse ul li .third-col {
  width: 38%;
  float: right;
}

.tag {
  padding: 8px 0 0 0;
}
.tag a {
  text-decoration: none;
  font-size: 92%;
  margin-bottom: 5px;
  font-weight: bold;
  padding: 2px 4px;
  margin-right: 5px;
  display: inline-block !important;
}
.tag .tag-color-01 {
  color: #ff9c38;
  background: #ffe8d0;
}
.tag .tag-color-02 {
  color: #d98f00;
  background: #f9e3a2;
}
.tag .tag-color-03 {
  color: #226699;
  background: #dfedf7;
}
.tag .tag-color-04 {
  color: #b26bc2;
  background: #f5defa;
}
.tag .tag-color-05 {
  color: #a2b570;
  background: #e1f5ac;
}
.tag .tag-color-06 {
  color: #4b9db1;
  background: #a2e8f9;
}
.tag .tag-color-07 {
  color: #fff;
  background: #b8b8b8;
}
.tag .tag-color-08 {
  color: #909090;
  background: #efefef;
}
.tag .tag-color-09 {
  background: #fbebd4;
  color: #ab7e53;
}
.tag .tag-color-10 {
  background: #80ffd4;
  color: #25956f;
}
.tag .tag-color-11 {
  background: #0000fc;
  color: #cbcbf9;
}
.tag .tag-color-12 {
  background: #932be4;
  color: #e0d2ea;
}
.tag .tag-color-13 {
  background: #a52b2a;
  color: #eacccc;
}
.tag .tag-color-14 {
  background: #609d9e;
  color: #2a5051;
}
.tag .tag-color-15 {
  background: #d3671c;
  color: #efccb4;
}
.tag .tag-color-16 {
  background: #6596e3;
  color: #1955b4;
}
.tag .tag-color-17 {
  background: #dd153c;
  color: #f3d9de;
}
.tag .tag-color-18 {
  background: #008a8c;
  color: #cfe2e2;
}
.tag .tag-color-19 {
  background: #b58612;
  color: #ddd6c6;
}
.tag .tag-color-20 {
  background: #006501;
  color: #93ba93;
}
.tag .tag-color-21 {
  background: #bdb76b;
  color: #6d6610;
}
.tag .tag-color-22 {
  background: #566b30;
  color: #bfcaab;
}
.tag .tag-color-23 {
  background: #ff8c01;
  color: #744307;
}
.tag .tag-color-24 {
  background: #ff1494;
  color: #fbe0ef;
}
.tag .tag-color-25 {
  background: #00c4fc;
  color: #0b566b;
}
.tag .tag-color-26 {
  background: #ff00ff;
  color: #551c55;
}
.tag .tag-color-27 {
  background: #f0e68d;
  color: #69600e;
}
.tag .tag-color-28 {
  background: #f57d7c;
  color: #721413;
}
.tag .tag-color-29 {
  background: #e0ffff;
  color: #5f9696;
}
.tag .tag-color-30 {
  background: #8ccbfe;
  color: #375974;
}

.row {
  margin-left: -7px;
  margin-right: -7px;
}

.two-col {
  width: 50%;
  float: left;
  padding: 0 7px;
  box-sizing: border-box;
}

.setting {
  border: 1px solid #ddd;
}
.setting h2 {
  background: #266797 url(../images/icon_setting.png) no-repeat 10px 15px;
  color: #fff;
  font-size: 159%;
  font-weight: bold;
  padding: 15px 5px 15px 40px;
  display: block;
  overflow: hidden;
}
.setting .content {
  background: #fff;
  border-bottom: 4px solid #2a6a99;
  padding: 20px 10px;
}
.setting .content .com1 {
  color: #0f0f0f;
  font-size: 134%;
  font-weight: bold;
}
.setting .content .update {
  border: 1px solid #ddd;
  padding: 1px;
  font-size: 134%;
  margin-top: 20px;
}
.setting .content .update dt {
  width: 40%;
  float: left;
  color: #0f0f0f;
  background: #fff;
  padding: 3px 5px 3px 10px;
  box-sizing: border-box;
  font-weight: bold;
}
.setting .content .update dd {
  width: 59%;
  padding: 0px 0.5% 0px 41%;
  color: #fff;
  letter-spacing: -0.1em;
}
.setting .content .update dd p {
  background: #7bbdec;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.setting .content .download {
  height: 55px;
  display: block;
  overflow: hidden;
}
.setting .content .download .down-info {
  width: 35%;
  float: right;
  color: #0f0f0f;
  margin-top: 10px;
}
.setting .content .download .down-info span {
  font-weight: bold;
}
.setting .content .download .btn-download {
  width: 60%;
  float: left;
  position: relative;
  background-color: #266797;
  box-shadow: 4px 4px 0px #1e5278;
}
.setting .content .download .btn-download a {
  color: #fff;
  text-decoration: none;
  padding: 12px 30px;
  font-size: 117%;
  display: block;
  font-weight: bold;
  text-align: center;
}
.setting .content .download .btn-download:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid #1e5278;
  border-top: 4px solid transparent;
  position: absolute;
  right: -4px;
  top: 0px;
}
.setting .content .download .btn-download:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 4px solid #1e5278;
  border-left: 4px solid transparent;
  position: absolute;
  left: 0px;
  bottom: -4px;
}
.setting .content .download .btn-download:hover:before, .setting .content .download .btn-download:hover:after {
  border: 0;
}
.setting .content .download .btn-download:hover {
  box-shadow: none;
  left: 4px;
  right: -4px;
  top: 4px;
  margin-top: 4px;
}
.setting .content .related-faq {
  border-top: 1px dotted #ddd;
  padding-top: 15px;
  margin-top: 5px;
}
.setting .content .related-faq .title {
  color: #0f0f0f;
  font-size: 109%;
  font-weight: bold;
  background: #dfedf7;
  padding: 5px 10px;
  display: inline-block;
}
.setting .content .related-faq ul {
  margin-top: 10px;
}
.setting .content .related-faq ul li {
  background: url(../images/icon_list.png) no-repeat 0 4px;
  background-size: 5px 10px;
  padding-left: 15px;
}
.setting .content .related-faq ul li a {
  color: #378ac5;
  padding: 3px;
  display: block;
  text-decoration: none;
}
.setting .content .related-faq ul li a:hover {
  text-decoration: underline;
}

.side {
  border: 1px solid #dddddd;
  background: #fff;
  border-bottom: 4px solid #2a6a9b;
  margin-bottom: 25px;
}
.side h2 {
  background: #eff5fb;
  color: #216699;
  font-weight: bold;
  font-size: 100%;
}
.side h2 img.news {
  width: 19px;
  height: 25px;
  padding-right: 10px;
  padding: 2px 7px;
}
.side h2 img.page {
  width: 26px;
  height: 20px;
  padding-right: 10px;
  padding: 4px 7px;
}
.side ul li {
  border-bottom: 1px solid #dddddd;
  padding: 10px 0px;
  margin: 0 7px;
}
.side ul li a {
  color: #226699;
  font-size: 117%;
  font-weight: bold;
  text-decoration: none;
}
.side ul li a:hover {
  text-decoration: underline;
}
.side ul li .date {
  font-size: 92%;
  color: #1a1a1a;
  font-weight: bold;
  padding-bottom: 5px;
}
.side .more {
  background: url(../images/icon_list_yellow.png) no-repeat right 6px;
  background-size: 5px 10px;
  margin-right: 7px;
  font-size: 92%;
  text-align: right;
  padding: 5px;
}
.side .more a {
  padding-right: 5px;
  color: #266797;
  text-decoration: none;
}
.side .more a:hover {
  text-decoration: underline;
}

.search-box-side {
  background: #266797;
  padding: 15px 5px;
  box-sizing: border-box;
  position: relative;
}
.search-box-side .search-form {
  display: block;
}
.search-box-side .search-text {
  width: 100%;
  box-sizing: border-box;
  font-size: 117%;
  border: 1px solid #378cd2;
  padding: 10px 10px 10px 40px;
  background: white url(../images/icon_search.png) no-repeat 10px 5px;
  display: block;
  margin-bottom: 10px;
}
.search-box-side input[type="text"] {
  width: 75%;
  padding: 9px 0 9px 1em;
  color: #333;
  outline: none;
  background: #fff;
}
.search-box-side .btn-search {
  cursor: pointer;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  position: relative;
  background: #378cd2 url(../images/icon_list_yellow.png) no-repeat 90% 7px;
  background-size: 5px 10px;
  box-shadow: 3px 4px 0px #1d5179;
  padding: 4px 21px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 2px #969696;
}
.search-box-side .btn-search:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 2px solid #1d5179;
  border-top: 4px solid transparent;
  position: absolute;
  right: -2px;
  top: 0px;
}
.search-box-side .btn-search:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 4px solid #1d5179;
  border-left: 3px solid transparent;
  position: absolute;
  left: 0px;
  bottom: -4px;
}
.search-box-side .btn-search:hover:before, .search-box-side .btn-search:hover:after {
  border: 0;
}
.search-box-side .btn-search:hover {
  box-shadow: none;
  left: 3px;
  right: -3px;
  top: 4px;
}
.search-box-side .search-tag {
  background: #f8f8f8;
  padding: 15px 10px;
  margin-top: 15px;
  border-bottom: 3px solid #378cd2;
}
.search-box-side .search-tag a {
  color: inherit;
  text-decoration: none;
}
.search-box-side .search-tag a:hover {
  text-decoration: underline;
}
.search-box-side .search-tag span {
  font-size: 125%;
  color: #333;
  padding: 0px 2px;
  border: 1px solid #dddddd;
  background: #fff;
  display: inline-block;
  margin: 4px 0;
}
.search-box-side .search-tag span:hover {
  border: 1px solid #266797;
}

@media screen and (max-width: 940px) {
  .two-col {
    width: 100% !important;
    display: block;
  }
}
@media screen and (min-width: 521px) and (max-width: 800px) {
  .search-box input[type="text"] {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .FAQ-browse ul li .first-col {
    width: 30% !important;
    max-width: 70px;
  }
  .FAQ-browse ul li .second-col {
    width: 70% !important;
  }
  .FAQ-browse ul li .third-col {
    width: 100% !important;
  }
}
@media screen and (max-width: 520px) {
  .search-box .search-form {
    text-align: center;
    overflow: visible !important;
    height: 82px !important;
  }
  .search-box .search-text {
    width: 100% !important;
  }
  .search-box .btn-search {
    position: relative !important;
    display: inline-block;
    float: none !important;
    margin-top: 10px;
    width: 30% !important;
  }
  .search-box .btn-search:hover {
    box-shadow: none;
    margin-top: 14px !important;
    margin-left: 2px;
  }

  .block h2 {
    display: block;
    overflow: hidden;
  }
  .block h2 .more {
    height: 43px;
    display: block;
    text-align: center;
    float: none;
  }
  .block h2 .more .btn-more {
    float: none;
  }
}
@media screen and (max-width: 380px) {
  .thread-footer dt {
    width: 100% !important;
    display: block;
  }
  .thread-footer dd {
    width: 100% !important;
    display: block;
    padding-left: 0 !important;
  }
}
/* ----- YUI FONTSIZE ---- */
.text10 {
  font-size: 84%;
}

.text11 {
  font-size: 92%;
}

.text12 {
  font-size: 100%;
}

.text13 {
  font-size: 109%;
}

.text14 {
  font-size: 117%;
}

.text15 {
  font-size: 125%;
}

.text16 {
  font-size: 134%;
}

.text17 {
  font-size: 142%;
}

.text18 {
  font-size: 150%;
}

.text19 {
  font-size: 159%;
}

.text20 {
  font-size: 167%;
}

.text21 {
  font-size: 175%;
}

.text22 {
  font-size: 184%;
}

.text23 {
  font-size: 192%;
}

.text24 {
  font-size: 200%;
}

.text25 {
  font-size: 209%;
}

.text26 {
  font-size: 217%;
}

/*alpha*/
.alpha:hover {
  filter: alpha(opacity=70);
  opacity: 0.7;
}

/*clearfix*/
.cf:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.cf {
  min-height: 1px;
}

* html .cf {
  height: 1px;
  /*¥*/
     /*/
height: auto;
overflow: hidden;
/**/
}

/*ETC*/
.clear {
  clear: both;
}

.fl-right {
  float: right;
}

.fl-left {
  float: left;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

/*margin*/
.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-35 {
  margin-right: 35px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-45 {
  margin-right: 45px;
}

.mr-50 {
  margin-right: 50px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-45 {
  margin-left: 45px;
}

.ml-50 {
  margin-left: 50px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

/*padding*/
.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-25 {
  padding-right: 25px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-35 {
  padding-right: 35px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-45 {
  padding-right: 45px;
}

.pr-50 {
  padding-right: 50px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-35 {
  padding-left: 35px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-45 {
  padding-left: 45px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-90 {
  padding-left: 90px;
}

.pl-215 {
  padding-left: 215px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.non-mr {
  margin-right: 0 !important;
}

.non-bb {
  border-bottom: 0 !important;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style-type: none;
  font-weight: normal;
  -webkit-text-size-adjust: 100%;
}

strong {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style-type: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* change colours to suit your needs */
mark {
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
